include layout/header.pug
.container
    .row 
        .offset-3.mx-auto.col-md-6.m-5
            .con.border.border-primary 
                .bg-primary.p-2.text-center.text-white.font-weight-bold Update Password
                .form-container.p-4
                    form(method="post")
                        .form-group
                            label New Password
                            input#newPass.form-control(type='text' name="newPass" placeholder='Enter email' required="true")
                        .form-group
                            label Confirm Password
                            input#cnfPass.form-control(type='text' name="cnfPass" placeholder='Enter email' required="true")
                        button.btn.btn-primary(type='submit') Update Password 
include layout/footer.pug                        

