include layout/header.pug

.alert.alert-dismissible.fade.show.alert-success
    strong Your email verified!
        button.close(type='button' data-dismiss='alert')
            span(aria-hidden='true') &times;

.container
    .row 
        .offset-3.mx-auto.col-md-6.m-5
            .con.border.border-primary(style="box-shadow:1px 1px 7px 1px black;")
                .bg-primary.p-2.text-center.text-white.font-weight-bold Update Password
                .form-container.p-4
                    form(method="post" action="../api/users/changepassword" onsubmit="return validPass();")
                        .form-group
                            label New Password
                            input#newPass.form-control(type='password' name="newPass" placeholder='Enter Password' minlength="8" maxlength="16" required="true")
                        .form-group
                            label Confirm Password
                            input#cnfPass.form-control(type='password' name="cnfPass" placeholder='Confirm Password' minlength="8" maxlength="16" required="true")
                        button.btn.btn-outline-primary(type='submit') Update Password 
include layout/footer.pug                        
script 
    include js/validPass.js
