include layout/header.pug

if msg
    .alert.alert-dismissible.fade.show.alert-success
        strong #{msg}
        button.close(type='button' data-dismiss='alert')
            span(aria-hidden='true') &times;

.container
    .row 
        .offset-3.mx-auto.col-md-6.m-5
            .con.border.border-primary 
                .bg-primary.p-2.text-center.text-white.font-weight-bold Forget Password
                .form-container.p-4
                    form(method="post" action="../api/sendmail")
                        .form-group
                            label Email address
                            input#email.form-control(type='email' name="email" placeholder='Enter email' required="true")
                            small#msg.form-text.text-muted 
                        input#sendMail.btn.btn-primary(type='submit' value="Send Email")   
                        
include layout/footer.pug
 
if isSent 
    script
        include js/isSent.js