include layout/header.pug
.container
    .row 
        .offset-3.mx-auto.col-md-6.m-5
            .con.border.border-primary 
                .bg-primary.p-2.text-center.text-white.font-weight-bold Forget Password
                .form-container.p-4
                    form(method="post" action="/sendmail")
                        .form-group
                            label Email address
                            input#email.form-control(type='email' name="email" placeholder='Enter email' required="true")
                            small#msg.form-text.text-muted 
                        button.btn.btn-primary(type='submit') Send Email
include layout/footer.pug                        

