include layout/header.pug
if msg
    .alert.alert-dismissible.fade.show.alert-success
        strong #{msg}
        button.close(type='button' data-dismiss='alert')
            span(aria-hidden='true') &times;

.container.d-inline-block.w-100.h-50.text-danger.font-weight-bold(style="font-size:48px;margin-auto")
    marquee.text-bold.text-center( behavior="alternate" direction="right") Sign In To Go To Dashboard
include layout/footer.pug                        