include layout/header.pug
.container.d-inline-block.w-100.h-50.m-5.p-5.text-danger.font-weight-bold
    .home.text-bold.text-center Sign In/SignUp To Go To Dashboard
include layout/footer.pug                        